.allBad {
    padding-bottom: 150px;
    text-align: center;
    @include media(mtp) {
        padding-bottom: 90px;
    }
    @include media(mtp) {
        padding-bottom: 40px;
    }
}
.allBad__inner {
    border: 8px solid hsl(30, 91%, 63%);
    box-sizing: border-box;
    padding: 58px 150px 85px 138px;
    max-width: 1120px;
    @include media(mtp) {
        margin-right: 20px;
        margin-left: 20px;
        padding: 50px 45px;
    }
    @include media(msp) {
        padding: 25px 15px 45px;
        margin-right: 10px;
        margin-left: 10px;
        border-width: 5px;
    }
}
.allBad__heading {
    font-size: 38px;
    margin-bottom: 17px;
    line-height: 1.2;
    @include media(msp) {
        font-size: 28px;
    }
}
.allBad__descr {
    font-size: 17px;
    line-height: 1.52;
    margin-bottom: 50px;
    max-width: 39em;
    margin-right: auto;
    margin-left: auto;
    @include media(msp) {
        margin-bottom: 25px;
    }
}
.allBad__buttons {
    justify-content: center;
}
.allBad__button {
    font-size: 22px;
    font-weight: 700;
    @include media(msp) {
        font-size: 18px;
    }
    &:first-child {
        margin-right: 20px;
        @include media(mtp) {
            margin-right: 10px;
        }
    }
    &:last-child {
        margin-left: 20px;
        @include media(mtp) {
            margin-left: 10px;
        }
    }
    span {
        padding: 22px 41px;
        @include media(mtp) {
            padding: 22px 37px;
        }
    }
}