.block {}
.block__inner {
    @include grid;
}
.block__heading {
    font-size: 68px;
    margin-bottom: 25px;
    font-weight: 900;
    line-height: 1.2;
    @include media(mtp) {
        font-size: 50px;
    }
}
.block__descr {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.33;
    margin-bottom: 2.5em;
    opacity: 0.8;
    @include media(mtp) {
        opacity: 1;
    }
}