.branding {
    font-family: $fontTitle;
}
.branding__inner {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
.branding__col {
    &.-logo {}
    &.-text {}
}
.branding__logo {
    cursor: pointer;
    width: 55px;
    margin-right: 15px;
    &.-footer {
        width: 160px;
    }
}
.branding__site-name {
    font-family: $fontTitle;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 7px;
}
.branding__site-slogan {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    max-width: 14em;
}