.breaking {
    padding-top: 212px;
    padding-bottom: 100px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    @include media(mtp) {
        padding-top: 165px;
        padding-bottom: 75px;
    }
    @include media(msp) {
        padding-top: 125px;
        padding-bottom: 45px;
    }
}
.breaking__inner {}
.breaking__heading {
    font-size: 68px;
    margin-bottom: 10px;
    @include media(mtp) {
        font-size: 50px;
    }
    @include media(msp) {
        font-size: 30px;
    }
}
.breaking__descr {
    color: hsl(0, 0%, 100%);
    padding: 8px 17px;
    display: inline-block;
    font-size: 27px;
    line-height: 1;
    background-color: $colorStyle;
    margin-bottom: 70px;
    @include media(mtp) {
        margin-bottom: 80px;
    }
    @include media(msp) {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 40px;
    }
}
.breaking__list {
    margin-bottom: 100px;
    @include media(mtp) {
        margin-bottom: 80px;
    }
    @include media(msp) {
        width: 100%;
        margin-left: -10px;
        margin-right: -10px;
        //position: relative;
        //left: 50%;
        //transform: translateX(-50%);
    }
}
.breaking__row {
    &:last-child {
        .breaking__item {
            padding-bottom: 0;
        }
    }
}
.breaking__item {
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 95px;
    list-style-type: none;
    width: 50%;
    box-sizing: border-box;
    @include media(mtp) {
        padding-bottom: 35px;
    }
    @include media(msp) {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 50vw;
    }
    &:nth-child(2n-1) {
        border-right: 1px solid hsl(0, 0%, 93%);
        .breaking__image {
            @include media(msp) {
                width: 250px;
                margin-left: -110px;
                justify-content: flex-end;
            }
        }
    }
    &:nth-child(2n) {
        .breaking__image {
            @include media(msp) {
                width: 250px;
                //margin-right: -80/px;
                justify-content: flex-start;
            }
        }
    }
    &.-colName {
        font-size: 36px;
        font-family: $fontTitle;
        font-weight: 700;
        line-height: 1.2;
        padding-bottom: 0;
        @include media(msp) {
            font-size: 22px;
        }
        &:nth-child(1) {
            @include media(msp) {
                padding: 0 30px;
            }
        }
        &:nth-child(2) {
            @include media(msp) {
                padding: 0 30px;
            }
        }
    }
}
.breaking__image {
    @include media(mtp) {
        max-height: 260px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    @include media(msp) {
        width: 100%;
        height: 260px;
    }
    img {
        margin-bottom: 45px;
        margin-right: auto;
        margin-left: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        @include media(msp) {
            width: auto;
            max-width: unset;
        }
    }
}
.breaking__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    @include media(msp) {
        font-size: 20px;
    }
}
.breaking__body {
    font-size: 17px;
    padding: 0 80px;
    @include media(mtp) {
        padding: 0 30px;
    }
    @include media(msp) {
        padding: 0;
        font-size: 14px;
    }
}
.breaking__button {}
