.clients {
    text-align: center;
    padding-bottom: 105px;
    @include media(mtp) {
        padding-bottom: 0;
    }
}
.clients__inner {}
.clients__heading {
    font-size: 48px;
    margin-bottom: 70px;
    @include media(mtp) {
        font-size: 32px;
        margin-bottom: 60px;
    }
    @include media(msp) {
        margin-bottom: 30px;
    }
}
.clients__list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    @include media(msp) {
        display: block;
    }
}
.clients__item {
    list-style-type: none;
    lost-column: 1/4;
    margin-bottom: 38px;
    padding: 0 20px;
    box-sizing: border-box;
    @include media(mtp) {
        lost-column: 1/2;
        padding: 0 40px;
        margin-bottom: 90px;
    }
    @include media(msp) {
        lost-column: 1/1;
    }
}
.clients__image {
    height: 93px;
    display: flex;
    img {
        width: auto;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}
.clients__text {
    font-size: 15px;
    opacity: 0.5;
}