.coaches {
    padding-bottom: 117px;
    @include media(mtp) {
        padding-bottom: 75px;
    }
    @include media(msp) {
        padding-top: 53px;
        padding-bottom: 30px;
    }
}
.coaches__inner {}
.coaches__heading {
    text-align: center;
    font-size: 68px;
    margin-bottom: 65px;
    @include media(mtp) {
        font-size: 50px;
        margin-bottom: 75px;
    }
    @include media(msp) {
        font-size: 30px;
    }
}
.coaches__list {
    margin: 0 auto;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    max-width: 86%;
    position: relative;
    @include media(mtp) {
        max-width: 100%;
    }
    @include media(msp) {
        display: block;
    }
    &::before {
        content: url(../images/bg/lom-coaches.jpg);
        display: block;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(calc(-50% + 50px));
        @include media(mtp) {
            top: -130px;
            transform: translateX(calc(-50%)) scale(0.75);
        }
        @include media(msp) {
            content: none;
        }
    }
}
.coaches__item {
    list-style-type: none;
    width: 440px;
    position: relative;
    @include media(mtp) {
        width: 47%;
    }
    @include media(msp) {
        width: 100%;
        margin-bottom: 40px;
    }
    &:nth-child(1) {
        .coaches__image {
            @include media(mtp) {
                margin-left: -30px;
            }
            @include media(msp) {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
    &:nth-child(2) {
        .coaches__image {
            @include media(mtp) {
                margin-right: -30px;
            }
            @include media(msp) {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}
.coaches__image {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -135px;
    @include media(mtp) {
        width: 325px;
        margin-bottom: -85px;
    }
}
.coaches__name {
    font-family: $fontTitle;
    line-height: 1.2;
    font-size: 48px;
    margin-bottom: 32px;
    font-weight: 900;
    @include media(mtp) {
        font-size: 32px;
    }
}
.coaches__body {
    font-size: 17px;
    ul {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        li {
            list-style-type: none;
            margin-bottom: 26px;
            &::first-letter {
                font-weight: 500;
                color: $colorStyle;
            }
        }
    }
}
