.phone {
    line-height: 1;
    color: inherit;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    padding-left: 25px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 17px;
        height: 17px;
        margin-right: 10px;
        background-image: url(../images/icons/i-phone.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &.-selected {
        color: #fff;
    }
    &.-noticon {
        padding-left: 0;
        &::before {
            content: none;
        }
    }
}
.mail {
    line-height: 1;
    color: inherit;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    padding-left: 25px;
    &::before {
        content: '';
        display: block;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: absolute;
        width: 17px;
        height: 17px;
        margin-right: 10px;
        background-image: url(../images/icons/i-mail.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}