.copyright {
    font-weight: 300;

}
.copyright__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0;
    }
}
.copyright__text {
    color: $colorStyle;
}
.copyright__links {
    display: flex;
    align-items: center;
}
.copyright__link {
    font-size: 12px;
    text-decoration: none;
    line-height: 1;
    //padding-bottom: 1px;
    border-bottom: 1px solid rgba($colorText,0.6);
    margin-right: 45px;
    color: inherit;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        border-bottom-color: transparent;
    }
}
.copyright__socials {
    width: 250px;
}
.copyright__company {}
.copyright__developer {
    a {
        color: $colorAccent;
        text-decoration: underline;
        text-decoration-color: $colorAccent;
        &:hover {
            text-decoration: none;
        }
    }
}