.factors {
    text-align: center;
    background-color: hsl(0, 0%, 95%);
    margin-bottom: -110px;
}
.factors__inner {}
.factors__heading {
    font-size: 49px;
    margin-bottom: 81px;
    max-width: 20em;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        font-size: 30px;
        margin-bottom: 40px;
    }
    @include media(msp) {
        font-size: 24px;
        margin-bottom: 35px;
    }
}
.factors__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        margin-bottom: 40px;
    }
    @include media(msp) {
        display: block;
        margin-bottom:90px;
    }
}
.factors__item {
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    @include media(mtp) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include media(msp) {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 33px;
    }
    &:nth-child(1) {
        margin-left: 80px;
        margin-right: -30px;
    }
    &:nth-child(3) {
        transform: translateX(-50px);
    }
    &::first-letter {
        color: $colorStyle;
        font-weight: 700;
        font-size: 27px;
    }

    // перебиваем на адаптивности
    &:nth-child(1n) {
        @include media(mtp) {
            margin-left: 0;
            margin-right: 0;
            transform: translate(0);
        }
    }
}
.factors__image {
    margin: -12px auto -40px;
    transform: translateX(10px);
    width: auto;
    @include media(mtp) {
        width: 100%;
    }
    @include media(msp) {
        transform: translateY(-60px);
    }
}