.faq {
    max-width: 790px;
    padding-left: 0;
    margin: 0 auto;
}
@include cardWithShadows('.faq__item','.faq__itemInner')
.faq__item {
    list-style-type: none;
}
.faq__itemInner {
    margin-bottom: 50px;
    padding: 35px 60px 50px;
    @include media(msp) {
        padding: 20px 15px 25px;
    }
}
.faq__question {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
    @include media(msp) {
        font-size: 20px;
    }
}
.faq__answer {
    font-size: 17px;
    @include media(msp) {
        font-size: 12px;
    }
    p {
        margin-bottom: 0;
    }
}