.faqBlock {
    padding-top: 109px;
    padding-bottom: 160px;
    background-color: hsl(0, 0%, 94%);
    @include media(mtp) {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    @include media(msp) {
        padding-top: 35px;
        padding-bottom: 20px;
    }
}
.faqBlock__inner {
    position: relative;
    @include media(mtp) {
        margin-right: 30px;
        margin-left: 30px;
    }
    @include media(msp) {
        margin-right: 0;
        margin-left: 0;
    }
    &::after {
        content: url(../images/bg/question.png);
        display: block;
        position: absolute;
        top: calc(50% - 400px);
        right: -360px;
        z-index: 3;
        @include media(mtp) {
            right: -550px;
        }
        @include media(msp) {
            content: none;
        }
    }
    &::before {
        content: url(../images/bg/question-blur.jpg);
        display: block;
        position: absolute;
        top: 240px;
        left: -330px;
        @include media(mtp) {
            top: unset;
            bottom: -430px;
        }
        @include media(msp) {
            content: none;
        }
    }
}
.faqBlock__heading {
    margin-bottom: 60px;
    text-align: center;
    @include media(msp) {
        font-size: 20px;
        margin-bottom: 15px;
    }
}