.final {
    background-color: hsl(231, 30%, 9%);
    background-image: url(../images/bg/glow.png);
    background-position: center 0;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 100%);
    text-align: center;
    position: relative;
    &::before {
        content: url(../images/bg/ruins.png);
        display: block;
        position: absolute;
        bottom: -10px;
        left: calc((1920px - 100vw) / -2);
        pointer-events: none;
        @media screen and (min-width: (1921px)) {
            left: 0;
        }
        @include media(mtp) {
            bottom: unset;
            top: -10px;
            left: -340px;
        }
        @include media(msp) {
            transform: scale(0.4);
        }
    }
    &::after {
        content: url(../images/bg/sculpture.png);
        display: block;
        position: absolute;
        bottom: -10px;
        right: calc((1920px - 100vw) / -2);
        pointer-events: none;
        @media screen and (min-width: (1921px)) {
            right: 0;
        }
        @include media(mtp) {
            bottom: unset;
            top: -240px;
            right: -270px;
            transform: scale(0.7);
        }
        @include media(msp) {
            transform: scale(0.4);
            top: unset;
            bottom: -340px;
            right: -340px;
        }
    }
}
.final__inner {
    padding-top: 110px;
    padding-bottom: 75px;
    position: relative;
    z-index: 2;
    @include media(mtp) {
        padding-bottom: 90px;
    }
    @include media(msp) {
        padding-top: 45px;
        padding-bottom: 30px;
    }
}
.final__heading {
    font-size: 48px;
    margin-bottom: 130px;
    max-width: 19em;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        margin-bottom: 55px;
    }
    @include media(msp) {
        font-size: 32px;
        margin-bottom: 35px;
    }
}
.final__button {}
.final__labels {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    @include media(mtp) {
        margin-top: 80px;
    }
    @include media(msp) {
        margin-top: 250px;
        margin-left: -30px;
        margin-right: -30px;
    }
}
.final__label {
    font-size: 19px;
    padding: 13px 46px;
    border: 2px dashed hsl(240, 4%, 37%);
    border-radius: 100px;
    position: relative;
    z-index: 2;
    @include media(msp) {
        font-size: 12px;
        white-space: nowrap;
        padding: 13px 32px;
    }
}
.final__footer {
    text-align: center;
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: hsl(228, 29%, 7%);
    color: hsl(0, 0%, 94%);
    font-size: 14px;
    line-height: 1.1;
    @include media(msp) {
        position: relative;
        z-index: 3;
    }
    @include media(msp) {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
.final__links {
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    @include media(msp) {
        display: block;
        text-align: center;
    }
}
.final__item {
    list-style-type: none;
    margin-right: 30px;
    @include media(msp) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    &:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }
}
.final__link {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}