@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay-regular.woff2') format('woff2'),
    url('../fonts/playfairdisplay-regular.woff') format('woff'),
    url('../fonts/playfairdisplay-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay-bold.woff2') format('woff2'),
    url('../fonts/playfairdisplay-bold.woff') format('woff'),
    url('../fonts/playfairdisplay-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfairdisplay-black.woff2') format('woff2'),
    url('../fonts/playfairdisplay-black.woff') format('woff'),
    url('../fonts/playfairdisplay-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museosanscyrl_3.woff2') format('woff2'),
    url('../fonts/museosanscyrl_3.woff') format('woff'),
    url('../fonts/museosanscyrl_3.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museosanscyrl_2.woff2') format('woff2'),
    url('../fonts/museosanscyrl_2.woff') format('woff'),
    url('../fonts/museosanscyrl_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museosanscyrl_1.woff2') format('woff2'),
    url('../fonts/museosanscyrl_1.woff') format('woff'),
    url('../fonts/museosanscyrl_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museosanscyrl_0.woff2') format('woff2'),
    url('../fonts/museosanscyrl_0.woff') format('woff'),
    url('../fonts/museosanscyrl_0.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/museosanscyrl.woff2') format('woff2'),
    url('../fonts/museosanscyrl.woff') format('woff'),
    url('../fonts/museosanscyrl.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;

}