.footer {
    padding-top: 15px;
    font-size: 16px;
    background-color: $colorBg;

}
.footer__inner {
    @include grid;
}
.footer__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer__copyright {
    padding-bottom: 25px;
}
.footer__col {
    display: flex;
    align-items: center;
    &.-branding {
        margin-right: 50px;
    }
    &.-socials {}
    &.-phone {
        margin-top: -2px;
        font-family: $fontTitle;
        font-size: 24px;
        color: #909090;
        margin-right: 60px;
        padding-left: 30px;
    }
}
.footer__soclinks {
    opacity: 0.5;
}