.form {}
.form__item {
    margin-bottom: 30px;
    @include media(msp) {
        margin-bottom: 20px;
    }
    &.-required {
        .form__label {
            &::after {
                content: '*';
                color: hsl(0, 91%, 63%);
                font-weight: 700;
            }
        }
    }
}
.form__actions {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.form__input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 4px 10px 0 hsla(0, 0%, 0%, 0.2);
    background-color: hsl(0, 0%, 94%);
    line-height: 1;
    color: $colorText;
    font-size: 20px;
    padding: 23px 23px 23px;
    box-sizing: border-box;
    font-weight: 500;
    @include media(msp) {
        font-size: 16px;
        padding: 18px 18px;
    }
    &::placeholder {
        color: hsla(0, 0%, 8%, 0.2);
    }
}
.form__label {
    line-height: 1;
    margin-bottom: 8px;
    display: block;
}
.form__submit {
    @include media(msp) {
        font-size: 18px;
    }
    span {
        padding: 25px 52px;
        @include media(msp) {
            padding: 20px 33px;
        }
    }
}
.form__text {
    text-align: center;
    font-size: 14px;
    color: hsl(0, 0%, 53%);
    @include media(msp) {
        font-size: 12px;
    }
    a {
        color: inherit;
        text-decoration-color: hsla(0, 0%, 53%, 0.3);
        &:hover {
            text-decoration: none;
        }
    }
}

input[type="checkbox"]{
    display: none;
    &:checked + label:before{
        width: 26px;
        height: 13px;
        border-top-style: none;
        border-right-style: none;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        transform-origin: 50% 50%;
    }
    & + label{
        position: relative;
        padding-left: 40px;
        display: block;
        cursor: pointer;
        &:before{
            content: "";
            width: 25px;
            height: 25px;
            border: 3px solid $colorStyle;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            transition: all 0.3s ease-in-out;
            top: 50%;
            transform: translateY(-50%)
        }
    }
}