.increase {}
.increase__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.increase__item {
    list-style-type: none;
    margin-bottom: 20px;
}
.increase__link {
    color: inherit;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid hsl(0, 0%, 77%);
    padding: 19px 0;
    width: 100%;
    font-size: 24px;
    line-height: 1;
    box-sizing: content-box;
    transition-duration: 0.2s;
    @include media(msp) {
        font-size: 16px;
    }
    &:hover {
        text-decoration: none;
        border-color: $colorStyle;
        box-shadow: inset 0 0 0 2px $colorStyle;
    }
}
.increase__text {
    margin-top: 35px;
    text-align: center;
    font-size: 14px;
    color: hsl(0, 0%, 54%);
}