.itsFor {
    padding-top: 120px;
    padding-bottom: 212px;
    text-align: center;
    counter-reset: number;
    background-image: url(../images/bg/book.jpg);
    background-repeat: no-repeat;
    background-position: calc(50% + 36px) 265px;
    background-size: auto;
    @include media(mtp) {
        padding-top: 80px;
        padding-bottom: 110px;
        background-position-y: 140px;
        background-size: 60%;
    }
    @include media(msp) {
        padding-top: 45px;
        padding-bottom: 70px;
        background-size: 100%;
        background-position-y: 120px;
    }
}
.itsFor__inner {}
.itsFor__heading {
    font-size: 68px;
    margin-bottom: 39px;
    @include media(mtp) {
        font-size: 50px;
        margin-bottom: 350px;
    }
    @include media(msp) {
        font-size: 30px;
        margin-bottom: 225px;
    }
}
.itsFor__row {
    display: flex;
    justify-content: space-between;
    max-width: 91%;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        max-width: 100%;
    }
    @include media(msp) {
        display: block;
    }
}
.itsFor__col {
    @include media(mtp) {
        width: 44%;
    }
    @include media(msp) {
        width: 100%;
    }
    &:nth-child(1) {
        .itsFor__item:nth-child(1) {
            @include media(mtp) {
                min-height: 163px;
            }
        }
        .itsFor__item:nth-child(2) {
            transform: translateX(-36px);
            margin-bottom: 16px;
            @include media(mtp) {
                min-height: 163px;
            }
        }
        .itsFor__item:nth-child(3) {
            transform: translateX(-64px);
            margin-bottom: 23px;
            padding: 0 37px;
            @include media(mtp) {
                min-height: 188px;
            }
        }
        .itsFor__item:nth-child(4) {
            transform: translateX(-80px);
            margin-bottom: 24px;
            padding: 0 37px;
        }
        .itsFor__item:nth-child(5) {
            transform: translateX(-51px);
        }

        // перебиваем на адаптивности
        .itsFor__item:nth-child(1n) {
            @include media(mtp) {
                transform: translate(0);
                margin-bottom: 40px;
            }
        }
    }
    &:nth-child(2) {
        .itsFor__item:nth-child(1) {
            transform: translateX(-22px);
            @include media(mtp) {
                min-height: 163px;
            }
        }
        .itsFor__item:nth-child(2) {
            transform: translateX(62px);
            margin-bottom: 23px;
            @include media(mtp) {
                min-height: 163px;
            }
        }
        .itsFor__item:nth-child(3) {
            transform: translateX(82px);
            margin-bottom: 37px;
            @include media(mtp) {
                min-height: 188px;
            }
        }
        .itsFor__item:nth-child(4) {
            transform: translateX(78px);
            padding-left: 20px;
            padding-right: 20px;
        }

        // перебиваем на адаптивности
        .itsFor__item:nth-child(1n) {
            @include media(mtp) {
                transform: translate(0);
                margin-bottom: 40px;
            }
        }
    }
}
.itsFor__list {
    padding-left: 0;
    margin: 0 auto;
}
.itsFor__item {
    font-size: 17px;
    line-height: 1.52;
    list-style-type: none;
    width: 350px;
    margin-bottom: 20px;
    box-sizing: border-box;
    @include media(mtp) {
        width: 100%;
    }
    @include media(msp) {
        margin-bottom: 45px;
    }
    &::before {
        content: counter(number);
        display: block;
        color: hsl(30, 91%, 63%);
        font-family: $fontTitle;
        font-size: 74px;
        font-weight: 900;
        line-height: 1;
        counter-increment: number;
        margin-bottom: 14px;
    }
}