.lomProject {
    padding-top: 110px;
    padding-bottom: 80px;
    text-align: center;
    @include media(mtp) {
        padding-top: 85px;
        padding-bottom: 70px;
    }
    @include media(msp) {
        padding-top: 50px;
        padding-bottom: 45px;
    }
}
.lomProject__inner {}
.lomProject__heading {
    font-size: 95px;
    line-height: 1;
    margin-bottom: 36px;
    @include media(mtp) {
        font-size: 82px;
    }
    @include media(msp) {
        font-size: 32px;
        margin-bottom: 23px;
    }
}
.lomProject__descr {
    font-size: 27px;
    font-weight: 500;
    line-height: 1.25;
    max-width: 32em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    @include media(mtp) {
        font-size: 20px;
        line-height: 1.6;
    }
    @include media(msp) {
        font-size: 18px;
        line-height: 1.2;
    }
}
.lomProject__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 0;
    @include media(msp) {
        display: block;
    }
}
.lomProject__item {
    list-style-type: none;
    flex-basis: 33.333%;
    width: 33.333%;
    @include media(msp) {
        width: 100%;
        margin-bottom: 25px;
    }
    &:nth-child(1) {
        .lomProject__image {
            @include media(mtp) {
                width: 256px;
                transform: translateX(-45px);
            }
        }
    }
    &:nth-child(2) {
        .lomProject__image {
            transform: translateX(-77px);
            margin-bottom: 20px;
            @include media(mtp) {
                width: 312px;
                margin-bottom: -10px;
                transform: translateX(-70px);
            }
        }
        .lomProject__text {
            padding: 0 30px;
        }
    }
    &:nth-child(3) {
        .lomProject__image {
            transform: translateX(50px);
            margin-top: -27px;
            @include media(mtp) {
                transform: translateX(-30px);
                width: 317px;
                margin-top: -9px;
                margin-bottom: -12px;
            }
        }
    }

    &:nth-child(1n) {
        .lomProject__image {
            @include media(msp) {
                transform: translate(0);
                margin-top: 0;
            }
        }
    }
}
.lomProject__image {
    @include media(mtp) {
        display: flex;
        align-items: flex-end;
    }
    img {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        @include media(mtp) {
            width: 100%;
        }
    }
}
.lomProject__text {
    font-size: 17px;
    line-height: 1.52;
    &:first-letter {
        color: $colorStyle;
        font-size: 24px;
    }
    strong {
        font-weight: 700;
    }
}