.mainMenu {
    font-family: $fontTitle;
    font-weight: 700;
    width: 650px;

}
.mainMenu__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.mainMenu__item {
    margin: 0;
    padding: 0;
    width: 0;
    flex-grow: 1;
    margin-right: 3px;
    &:last-child {
        margin-right: 0;
    }
}
.mainMenu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    font-size: 12px;
    height: 130px;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    white-space: nowrap;
    transition-duration: 0.1s;
    &:hover {
        background-color: $colorStyle;
        color: #fff;
    }
    &.-active {
        background-color: $colorStyle;
        color: #fff;
    }
    &.-expanded {
        padding-right: 14px;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            right: 0;
            width: 7px;
            height: 7px;
            background-image: url(../images/icons/i-expanded.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }

    @at-root .am & {
        padding-left: 15px;
        padding-right: 15px;
        height: 90px;
    }
}