body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: $fontText;
    color: $colorText;
    font-weight: 300;
}
.page-content {
    background-image: url(../images/bg/features.png);
    background-position-y: 35%;
    background-repeat: no-repeat;
    overflow: hidden;
}
* {
    outline: none;
}
a {
    display: inline-block;
    color: $colorStyle;
    &:hover {
        text-decoration: underline;
    }
}
img {
    display: block;
    width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6 {
    font-family: $fontTitle;
    font-weight: 900;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1.5em;
}
p {
    margin-top: 0;
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
}

