.masterClass {
    padding-top: 96px;
    padding-bottom: 140px;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    background-image: url(../images/bg/master-class.jpg);
    background-repeat: no-repeat;
    background-position: center calc(100% - 130px);
    background-size: auto;
    @include media(mtp) {
        padding-top: 65px;
        padding-bottom: 95px;
        background-position-y: 230px;
        background-size: 100%;
    }
    @include media(msp) {
        padding-top: 55px;
        padding-bottom: 55px;
        background-position-y: 260px;
        background-size: 588px;
    }
}
.masterClass__inner {}
.masterClass__heading {
    font-size: 68px;
    margin-right: auto;
    margin-left: auto;
    max-width: 15em;
    margin-bottom: 107px;
    @include media(mtp) {
        font-size: 42px;
        margin-bottom: 480px;
    }
    @include media(msp) {
        font-size: 30px;
        margin-bottom: 430px;
    }
}
.masterClass__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 0;
    max-width: 84%;
    margin-top: 0;
    margin-bottom: 180px;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        max-width: 100%;
        margin-bottom: 60px;
    }
    @include media(msp) {
        margin-left: -10px;
        margin-right: -10px;
        max-width: unset;
    }
}
.masterClass__item {
    list-style-type: none;
    width: 380px;
    box-sizing: border-box;
    margin-bottom: -12px;
    height: 125px;
    position: relative;
    @include media(mtp) {
        width: 350px;
        height: 174px;
    }
    @include media(msp) {
        width: 100%;
        height: 100px;
    }
    &:hover {
        z-index: 4;
        .masterClass__itemInner {
            box-shadow: 0 16px 68px hsla(36, 63%, 6%, 0.1);
            background-color: hsl(0, 0%, 100%);
        }
        .masterClass__body {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            position: static;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        pointer-events: none;
    }
    &:nth-child(1) {
        z-index: 3;
        &::after {
            content: url(../images/mc-line-01.png);
            top: 28px;
            left: calc(100% - 24px);
        }
    }
    &:nth-child(2) {
        z-index: 2;
        @include media(mtp) {
            margin-bottom: 20px;
        }
        &::after {
            content: url(../images/mc-line-02.png);
            top: 30px;
            left: -13px;
        }
    }
    &:nth-child(3) {
        transform: translateX(-65px);
        &::after {
            content: url(../images/mc-line-03.png);
            top: -15px;
            left: calc(100% - 50px);
        }
    }
    &:nth-child(4) {
        transform: translate(32px, 6px);
        &::after {
            content: url(../images/mc-line-04.png);
            top: 16px;
            left: -13px;
        }
    }
    &:nth-child(5) {
        transform: translate(-108px, 7px);
        z-index: 1;
        @include media(msp) {
            margin-bottom: 30px;
        }
        &::after {
            content: url(../images/mc-line-05.png);
            top: -15px;
            left: calc(100% - 27px);
        }
    }
    &:nth-child(6) {
        transform: translate(133px, -19px);
        @include media(msp) {
            margin-bottom: 20px;
        }
        &::after {
            content: url(../images/mc-line-06.png);
            top: 6px;
            left: -67px;
        }
        .masterClass__title {
            padding-left: 0;
            padding-right: 0;
            margin-left: -25px;
            margin-right: -25px;
        }
    }
    &:nth-child(7) {
        transform: translate(-143px, 56px);
        @include media(msp) {
            margin-bottom: 20px;
        }
        &::after {
            content: url(../images/mc-line-07.png);
            top: -75px;
            left: calc(100% - 27px);
        }
    }
    &:nth-child(8) {
        transform: translate(165px, 34px);
        &::after {
            content: url(../images/mc-line-08.png);
            top: -37px;
            left: -7px;
        }
        .masterClass__title {
            font-size: 36px;
        }
    }

    // убираем на адаптивности
    &:nth-child(1n) {
        @include media(mtp) {
            transform: translate(0);
            &::after {
                content: none;
            }
        }
    }
}
.masterClass__itemInner {
    position: relative;
    border-radius: 15px;
    padding: 23px 40px 40px;
    transition-duration: 0.3s;
    z-index: 3;
    @include media(msp) {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
    }
}
.masterClass__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.43;
    margin-bottom: 11px;
    padding: 0 5px;
    @include media(msp) {
        padding: 0;
    }
}
.masterClass__body {
    color: hsl(0, 0%, 62%);
    font-size: 14px;
    line-height: 1.42;
    opacity: 0;
    transition-duration: 0.3s;
    transform: translateY(-20px);
    visibility: hidden;
    position: absolute;
}
.masterClass__button {
    font-size: 22px;
    span {
        padding: 19px 48px;
    }
}