@include cardWithShadows('.modal','.modal__inner');
.modal {
    max-width: 690px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 50px;
    &.-boobs,
    &.-pride,
    &.-gain,
    &.-number-one,
    &.-number-two,
    &.-solve-problem {
        .modal__title {
            font-size: 47px;
            @include media(msp) {
                font-size: 20px;
            }
        }
    }
}
.modal__inner {
    position: relative;
    padding: 70px 95px 75px;
    @include media(msp) {
        padding: 50px 25px 45px;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        border-radius: 20px;
        border: 4px solid $colorStyle;
        pointer-events: none;
        @include media(msp) {
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            border-width: 2px;
        }
    }
}
.modal__title {
    text-align: center;
    font-size: 57px;
    margin-bottom: 40px;
    @include media(msp) {
        font-size: 20px;
        margin-bottom: 20px;
    }
}
// переопределение стилей плагина модального окна
button.mfp-close {
    transform: translate(-50px, 40px);
    //top: 40px;
    //right: 50px;
    font-size: 0;
    color: transparent;
    line-height: 0;
    background-image: url(../images/closer.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    @include media(msp) {
        transform: translate(-5px, 3px);
        background-size: 50%;
    }
    &:hover {
        opacity: 0.6;
    }
}