.profit {
    padding-top: 96px;
    padding-bottom: 130px;
    text-align: center;
    @include media(mtp) {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    @include media(msp) {
        padding-top: 40px;
    }
}
.profit__inner {}
.profit__heading {
    font-size: 68px;
    margin-bottom: 48px;
    @include media(mtp) {
        margin-bottom: 40px;
        font-size: 50px;
    }
    @include media(msp) {
        font-size: 30px;
        margin-bottom: 30px;
    }
}
.profit__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    @include media(msp) {
        display: block;
    }
}
.profit__item {
    list-style-type: none;
    margin-bottom: 20px;
    lost-column: 1/4;
    box-sizing: border-box;
    @include media(mtp) {
        lost-column: 1/2;
        padding: 0 30px;
        margin-bottom: 40px;
    }
    @include media(msp) {
        lost-column: 1/1;
        margin-bottom: 25px;
    }
}
.profit__image {
    height: 248px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -4px;
    @include media(mtp) {
        margin-bottom: 10px;
    }
    @include media(msp) {
        margin-bottom: 0;
    }
    img {
        width: auto;
        @include media(mtp) {
            max-width: 100%;
        }
    }
}
.profit__title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.17;
}
.profit__body {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    opacity: 0.5;
}