.results {
    text-align: center;
}
.results__heading {
    font-size: 61px;
    margin-bottom: 20px;
    max-width: 14.2em;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        font-size: 42px;
        margin-bottom: 43px;
    }
    @include media(msp) {
        font-size: 30px;
        margin-bottom: 30px;
    }
}
.results__descr {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 60px;
    max-width: 30em;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        font-size: 22px;
        margin-bottom: 105px;
    }
    @include media(msp) {
        line-height: 1.2;
        font-size: 20px;
        margin-bottom: 40px;
    }
}
.results__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    @include media(mtp) {
        padding-left: 0;
        padding-right: 0;
    }
    @include media(msp) {
        display: block;
    }
}
.results__item {
    list-style-type: none;
    margin-bottom: 60px;
    lost-column: 1/3;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
    @include media(mtp) {
        lost-column: 1/2;
        margin-bottom: 45px;
    }
    @include media(msp) {
        lost-column: 1/1;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.results__title {
    font-family: $fontTitle;
    font-size: 61px;
    line-height: 1;
    color: $colorStyle;
    margin-bottom: 16px;
    white-space: nowrap;
    font-weight: 900;
}
.results__body {
    font-size: 17px;
}
