.social {
    display: flex;
    align-items: center;
}
.social__label {
    margin-right: 23px;
}
.social__items {
    display: flex;
    align-items: center;
}
.social__item {
    margin-right: 5px;
    &:last-child {
        margin-right: 0;
    }
}
.social__link {
    display: block;
    color: transparent;
    font-size: 0;
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &.-vk {background-image: url(../images/social/vk.png);}
    &.-fb {background-image: url(../images/social/facebook.png);}
    &.-inst {background-image: url(../images/social/instagram.png);}
    &.-tw {background-image: url(../images/social/twitter.png);}
    &.-ok {background-image: url(../images/social/odnoklassniki.png);}
    &:hover {
        opacity: 0.5;
    }
}