.speakers {
    padding-top: 80px;
    padding-bottom: 105px;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    @include media(mtp) {
        padding-top: 55px;
        padding-bottom: 45px;
    }
    @include media(msp) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.speakers__inner {}
.speakers__heading {
    font-size: 95px;
    margin-bottom: 120px;
    @include media(mtp) {
        font-size: 50px;
        margin-bottom: 160px;
    }
    @include media(msp) {
        font-size: 30px;
    }
}
.speakers__main {
    border: 8px solid $colorStyle;
    position: relative;
    @include media(msp) {
        border: none;
    }
}
.speakers__persons {}
.speakers__image {
    margin-top: -64px;
    margin-bottom: -82px;
    @include media(mtp) {
        margin-left: -55px;
        margin-right: -30px;
        margin-top: -95px;
    }
    @include media(msp) {
        margin-top: -65px;
    }
    img {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        @include media(msp) {
            max-width: 110%;
        }
    }
}
.speakers__name {
    font-family: $fontTitle;
    font-size: 45px;
    position: absolute;
    font-weight: 900;
    top: 43px;
    width: 215px;
    line-height: 1.2;
    @include media(mtp) {
        font-size: 24px;
        width: 120px;
        top: -130px;
    }
    @include media(msp) {
        font-size: 18px;
        top: -70px;
    }
    &.-marsel {
        left: 55px;
        text-align: left;
        @include media(mtp) {
            left: -8px;
        }
        @include media(msp) {
            left: 0;
        }
    }
    &.-timur {
        right: 40px;
        text-align: right;
        @include media(mtp) {
            right: -8px;
        }
        @include media(msp) {
            right: 0;
        }
    }
}
.speakers__results {}