.titer {
    padding-top: 96px;
    padding-bottom: 180px;
    background-color: hsl(231, 32%, 9%);
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include media(mtp) {
        padding-top: 55px;
        padding-bottom: 115px;
    }
    @include media(mtp) {
        padding-top: 10px;
        padding-bottom: 55px;
    }
}
.titer__inner {
    position: relative;
}
.titer__heading {
    font-size: 62px;
    line-height: 1.3;
    margin-bottom: 31px;
    position: relative;
    z-index: 2;
    max-width: 15em;
    margin-right: auto;
    margin-left: auto;
    @include media(msp) {
        font-size: 26px;
        margin-bottom: 15px;
    }
}
.titer__image {
    margin-bottom: -9px;
    @include media(mtp) {
        padding: 0 4vw;
        margin-bottom: 110px;
    }
    @include media(msp) {
        padding: 0;
        margin-bottom: 100px;
    }
    img {
        width: auto;
        margin-right: auto;
        margin-left: auto;
        @include media(mtp) {
            width: 100%;
        }
    }
}
.titer__descr {
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 48px;
    max-width: 25em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
    @include media(mtp) {
        opacity: 1;
    }
    @include media(msp) {
        font-size: 20px;
        margin-bottom: 25px;
        line-height: 1.2;
    }
}
.titer__button {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 3;
}
.titer__photo {
    position: absolute;
    top: 31px;
    @include media(mtp) {
        top: 80px;
    }
    @include media(msp) {
        top: 40px;
    }
    &.-marketing {
        left: -200px;
        @include media(mtp) {
            max-width: 510px;
            left: -140px;
        }
        @include media(msp) {
            left: -60px;
        }
        .titer__photoImage {
            @include media(msp) {
                max-width: 282px;
            }
        }
        .titer__photoText {
            text-indent: -80px;
        }
    }
    &.-sales {
        right: -225px;
        @include media(mtp) {
            right: -240px;
        }
        @include media(msp) {
            right: -110px;
        }
        .titer__photoImage {
            @include media(mtp) {
                max-width: 540px;
            }
            @include media(msp) {
                max-width: 298px;
            }
        }
        .titer__photoText {
            text-indent: 20px;
            @include media(mtp) {
                text-indent: -120px;
                margin-top: 35px;
            }
        }
    }
}
.titer__photoImage {
    width: auto;
    @include media(mtp) {
        max-width: 510px;
    }
}
.titer__photoText {
    font-size: 19px;
    line-height: 1;
    margin-top: -65px;
    @include media(mtp) {
        margin-top: 60px;
    }
    @include media(msp) {
        display: none;
    }
}
