.values {
    padding-bottom: 233px;
    background-image: url(../images/bg/values.jpg);
    background-repeat: no-repeat;
    background-position: calc(100vw - #{$md} - 540px) 230px;
    background-size: auto;
    @include media(mtp) {
        padding-bottom: 140px;
        background-position: -610px 190px;
    }
    @include media(msp) {
        padding-bottom: 25px;
    }
}
.values__inner {
    @include media(mtp) {
        margin-right: 15px;
        margin-left: 15px;
    }
    @include media(msp) {
        margin-left: 0;
        margin-right: 0;
    }
}
.values__heading {
    font-size: 68px;
    margin-bottom: 80px;
    text-align: center;
    max-width: 14em;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        font-size: 50px;
        margin-bottom: 145px;
    }
    @include media(msp) {
        font-size: 30px;
        margin-bottom: 88px;
    }
}
.values__main {
    max-width: 685px;
    margin-left: auto;
    position: relative;
}
.values__tip {
    position: absolute;
    top: -11px;
    right: calc(100% - 16px);
    text-align: center;
    width: 124px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px 30px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 50%;
    border: 2px solid $colorStyle;
    @include media(mtp) {
        top: -110px;
        right: unset;
        left: 39%;
    }
    @include media(msp) {
        width: 75px;
        height: 75px;
        font-size: 12px;
        top: -70px;
    }
    &:hover {
        &::before {
            animation-play-state: running;
            box-shadow: 0 0 70px 10px hsla(30, 91%, 63%, 0.1);
        }
    }
    &::before {
        content: '';
        display: block;
        pointer-events: none;
        position: absolute;
        top: -9px;
        right: -9px;
        bottom: -9px;
        left: -9px;
        border-radius: 50%;
        border: 2px dashed $colorStyle;
        transition-duration: 1s;
        animation-name: rotation;
        animation-play-state: paused;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include media(msp) {
            top: -6px;
            right: -6px;
            bottom: -6px;
            left: -6px;
        }
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 55px;
        height: 19px;
        background-image: url(../images/values-arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
        top: calc(50% - 8px);
        left: 77%;
        z-index: 9;
        @include media(mtp) {
            transform: rotateY(180deg) rotateZ(20deg);
            left: -3px;
            top: unset;
            bottom: 1px;
        }
        @include media(msp) {
            width: 45px;
            left: -9px;
            bottom: -11px;
        }
    }
}
.values__list {
    margin: 0;
    padding-left: 0;
}
@include cardWithShadows('.values__item','.values__itemInner')
.values__item {
    list-style-type: none;
    margin-bottom: 42px;
    @include media(msp) {
        margin-left: -50px;
        margin-right: -50px;
    }
    &.-withButton {
        text-align: center;
        .values__itemInner {
            padding: 67px 55px 50px 55px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 20px;
                right: 20px;
                bottom: 20px;
                left: 20px;
                border-radius: 20px;
                border: 4px solid $colorStyle;
            }
        }
        .values__body {
            font-size: 14px;
            color: hsl(0, 0%, 54%);
            @include media(msp) {
                font-size: 12px;
            }
        }
    }
}
.values__itemInner {
    @include media(msp) {
        padding: 23px 50px 20px;
    }
}
.values__time {
    font-size: 22px;
    color: hsl(28, 90%, 62%);
    margin-bottom: 7px;
    line-height: 1;
    @include media(msp) {
        font-size: 18px;
    }
}
.values__title {
    font-size: 25px;
    font-weight: 500;
    border-bottom: 2px dotted hsla(0, 0%, 0%, 0.5);
    display: inline-block;
    margin-bottom: 11px;
    @include media(msp) {
        font-size: 18px;
    }
}
.values__body {
    font-size: 17px;
    line-height: 1.55;
    @include media(msp) {
        font-size: 14px;
    }
}
.values__button {
    margin-bottom: 34px;
}

.mixWord {
    position: relative;
    display: inline-flex;
    white-space: nowrap;
    user-select: none;
    span {
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        display: inline-block;
        letter-spacing: 0;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);

    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}