//=========Уже который месяц ловлю себя на мысли, что мой бизнес не приносит мне удовольствия. Утром неохото вылезать из постели, знаю, что ожидает меня на работе. Снова рутина и постоянная нехватка времени ни на что. Занимаюсь только тем: что латаю дыры в своем корабле. Хочу уехать на отдых, но как, все завязано на мне, и я чувствую, что больше не могу...============================
//=grid
//=====================================
@lost flexbox flex;

$mb-resp: 2.463328vw;
$md: 1170px;
$mtl: 980px;
$mtp: 760px;
$msl: 480px;
$msp: 320px;
//=====================================
//=End of grid
//=====================================



//=====================================
//=variables
//=====================================
$colorStyle: hsl(30, 91%, 63%);
$colorAccent: $colorStyle;
$colorLink: $colorStyle;
$colorButton: $colorStyle;
$colorText: hsl(0,0%,8%);
$colorTitle: $colorText;
$colorBg: hsl(195,45%,99%);

$fontTitle: 'Playfair Display', serif;
$fontText: 'Museo Sans Cyrl', sans-serif;
//=====================================
//=End of variables
//=====================================

//=====================================
//=mixins
//=====================================
@mixin media($break-point) {
    @if $break-point == retina {
        @media only screen and (-webkit-min-device-pixel-ratio: 2), /* для Safari, Safari IOS */
        only screen and (min-resolution: 192dpi), /* для IE 10, IE 11, Opera Mini */
        only screen and (min-resolution: 2dppx) {
            @content;
        }
    }
    @if $break-point == md {
        @media screen and (min-width: ($md+100px)) {
            @content;
        }
    }
    //@if $break-point == mtl {
    //    @media screen and (max-width: ($md+99px)) {
    //        @content;
    //    }
    //}
    //@if $break-point == mtl-only {
    //    @media screen and (max-width: ($md+99px)) and (min-width: $mtl) {
    //        @content;
    //    }
    //}
    @if $break-point == mtp {
        @media screen and (max-width: ($md+99px)) {
            @content;
        }
    }
    //@if $break-point == mtp-only {
    //    @media screen and (max-width: ($mtl+-1px)) and (min-width: $mtp) {
    //        @content;
    //    }
    //}
    //@if $break-point == msl {
    //    @media screen and (max-width: ($mtp+-1px)) {
    //        @content;
    //    }
    //}
    //@if $break-point == msl-only {
    //    @media screen and (max-width: ($mtp+-1px)) and (min-width: $msl) {
    //        @content;
    //    }
    //}
    @if $break-point == msp {
        @media screen and (max-width: ($mtp+-1px)) {
            @content;
        }
    }
}
@mixin grid {
    box-sizing: border-box;
    max-width: $md;
    margin-right: auto;
    margin-left: auto;
    @include media(mtp) {
        padding-right: 20px;
        padding-left: 20px;
    }
    @include media(msp) {
        padding-right: 10px;
        padding-left: 10px;
    }
}
@mixin disable-grid {
    max-width: unset;
    @include media(mtl) {
        padding-right: initial;
        padding-left: initial;
    }
    @include media(msl) {
        padding-right: initial;
        padding-left: initial;
    }
}

@mixin button-base {
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    border: none;
    @include media(mtp) {
        font-weight: 700;
    }
    @include media(msp) {
        font-size: 22px;
    }
    &:hover {
        text-decoration: none;
    }
    span {
        padding: 28px 61px;
        box-sizing: border-box;
        transition-duration: 0.2s;
        text-shadow: 1px 1px 0 hsl(25, 76%, 47%), 0 0 29px hsla(0, 0%, 100%, 0.35);
        @include media(msp) {
            padding: 17px 40px;
        }
    }
}
@mixin button {
    position: relative;
    background-image: linear-gradient(to top, hsl(26, 63%, 45%) 0%, hsl(26, 63%, 50%) 35%, hsl(32, 88%, 65%) 78%, hsl(33, 94%, 80%) 100%);
    //color: hsl(48, 98%, 84%);
    color: #fff;
    border-radius: 80px;
    box-shadow: 0 7px 0 0 hsl(29, 61%, 54%);
    overflow: hidden;
    @include media(msp) {
        box-shadow: 0 5px 0 0 hsl(29, 61%, 54%);
    }
    &:hover {
        span {
            background-color: hsla(36, 100%, 70%, 0.49);
        }
    }
    &:active {
        transform: translateY(3px);
        box-shadow: 0 4px 0 0 hsl(29, 61%, 44%);
        @include media(mtp) {
            transform: translateY(2px);
            box-shadow: 0 2px 0 0 hsl(29, 61%, 44%);
        }
        span {
            background-color: transparent;
        }
    }
    span {
        position: relative;
        z-index: 2;
        display: block;
        //box-shadow: inset 0 1px 3px hsla(0, 0%, 100%, 0.5), inset 0 0 2px hsla(21, 69%, 64%, 0.29);
        border: 1px solid #f3a250;
        border-radius: 80px;

        //&::before {
        //    content: '';
        //    display: block;
        //    position: absolute;
        //    top: -50px;
        //    left: 0;
        //    right: 0;
        //    bottom: 40%;
        //    border-radius: 80px;
        //    box-shadow: inset 0 0 10px #000;
        //}
    }
    &::after {
        //content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(7px);
        box-shadow: 1px 1px 21px hsla(0, 0%, 0%, 0.13);
        border: 1px solid hsl(21, 49%, 55%);
        background-color: hsl(29, 61%, 54%);
        border-radius: 80px;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -50px;
        left: -14px;
        right: -14px;
        bottom: 50%;
        border-radius: 80px;
        box-shadow: inset 0 0 10px hsla(0, 0%, 0%,0.12);
    }
    
    // shadow
    //&::before {
    //    content: '';
    //    display: block;
    //    position: absolute;
    //    top: 0;
    //    right: -43px;
    //    bottom: 0;
    //    left: -43px;
    //    transform: translateY(34px);
    //    background-image: url(../images/button-shadow.png);
    //    background-repeat: no-repeat;
    //    background-position: center;
    //    background-size: contain;
    //    border-radius: 50px;
    //}
}

@mixin cardWithShadows($mainWrpClass, $contentWrpClass) {
    #{$mainWrpClass} {
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            box-shadow: 0 16px 27px hsla(36, 63%, 6%, 0.05);
            background-color: hsl(0, 0%, 100%);
            border-radius: 20px;
            top: 34px;
            bottom: -19px;
            left: 24px;
            right: 24px;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            box-shadow: 0 16px 27px hsla(36, 63%, 6%, 0.05);
            background-color: hsl(0, 0%, 100%);
            top: 16px;
            bottom: -9px;
            right: 11px;
            left: 11px;
            border-radius: 20px;
        }
    }
    #{$contentWrpClass} {
        padding: 29px 35px 50px 43px;
        box-shadow: 0 16px 84px hsla(36, 63%, 6%, 0.05);
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
        position: relative;
        z-index: 3;
    }

}
//=====================================
//=End of mixins
//=====================================


/*
@mixin button-base {
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    border: none;
    &:hover {
        text-decoration: none;
    }
    span {
        padding: 28px 61px;
        box-sizing: border-box;
        transition-duration: 0.2s;
        text-shadow: 1px 1px 0 hsl(25, 76%, 47%), 0 0 29px hsla(0, 0%, 100%, 0.35);
    }
}
@mixin button {
    position: relative;
    &:hover {
        span {
            transform: translateY(7px);
        }
    }
    span {
        position: relative;
        z-index: 2;
        display: block;
        border-radius: 80px;
        //box-shadow: inset 0 1px 3px hsla(0, 0%, 100%, 0.5), inset 0 0 2px hsla(21, 69%, 64%, 0.29);
        //border: 1px solid hsla(0, 0%, 0%, 0);
        background-image: linear-gradient(to top, hsl(26, 63%, 45%) 0%, hsl(26, 63%, 50%) 35%, hsl(32, 88%, 65%) 78%, hsl(33, 94%, 80%) 100%);
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(7px);
        box-shadow: 1px 1px 21px hsla(0, 0%, 0%, 0.13);
        border: 1px solid hsl(21, 49%, 55%);
        background-color: hsl(29, 61%, 54%);
        border-radius: 80px;
    }

    // shadow
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: -43px;
        bottom: 0;
        left: -43px;
        transform: translateY(34px);
        background-image: url(../images/button-shadow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 50px;
    }
}*/
