.win {
    padding-bottom: 123px;
    @include media(mtp) {
        padding-bottom: 70px;
    }
}
.win__inner {
    border: 8px solid $colorStyle;
    max-width: 1120px;
    box-sizing: border-box;
    padding: 65px 150px 95px;
    @include media(mtp) {
        margin-right: 20px;
        margin-left: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
    @include media(msp) {
        border-right: none;
        border-left: none;
        margin-left: 0;
        margin-right: 0;
        padding: 35px 10px 50px;
    }
}
.win__heading {
    font-size: 68px;
    margin-bottom: 30px;
    text-align: center;
    @include media(mtp) {
        font-size: 50px;
        margin-bottom: 20px;
    }
    @include media(msp) {
        font-size: 30px;
    }
}
@include cardWithShadows('.win__main','.win__mainInner')
.win__main {
    margin-bottom: 95px;
    @include media(msp) {
        text-align: center;
    }
}
.win__mainInner {
    padding: 40px 50px 55px;
    position: relative;
    overflow: hidden;
    @include media(mtp) {
        padding: 40px 40px 50px;
    }
    @include media(msp) {
        padding: 59px 40px 55px;
    }
}
.win__list {
    margin-top: 0;
    margin-bottom: 25px;
    padding-left: 0;
    position: relative;
    z-index: 2;
}
.win__item {
    list-style-type: none;
    font-size: 25px;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition-duration: 0.4s;
    min-height: 74px;
    box-sizing: border-box;
    padding-right: 190px;
    @include media(msp) {
        padding-right: 0;
        line-height: 1.3;
        font-size: 20px;
        min-height: 0;
    }
    &.-active {
        visibility: visible;
        opacity: 1;
        position: static;
        transition-delay: 0.3s;
    }
}
.win__result {
    font-size: 25px;
    min-height: 74px;
    transition-duration: 0.4s;
    box-sizing: border-box;
    padding-right: 190px;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    @include media(mtp) {
        padding-right: 0;
    }
    @include media(msp) {
        font-size: 20px;
    }
    &.-shown {
        visibility: visible;
        opacity: 1;
        position: static;
        transition-delay: 0.3s;
    }
}
.win__resultText {
    margin-bottom: 25px;
}
.win__buttons {
    @include media(msp) {
        display: flex;
        justify-content: center;
    }
}
.win__button {
    font-size: 23px;
    transition-duration: 0.4s;
    @include media(mtp) {
        font-weight: 700;
        font-size: 18px;
        &:first-child {
            margin-right: 6px !important;
        }
        &:last-child {
            margin-left: 6px !important;
        }
    }
    span {
        text-align: center;
        padding: 21px 35px;
        min-width: 120px;
        @include media(msp) {
            padding: 17px 30px;
            min-width: 95px;
        }
    }
    &.-hidden {
        visibility: hidden;
        position: absolute;
        opacity: 0;
    }
}
.win__counter {
    position: absolute;
    bottom: 55px;
    right: -54px;
    text-align: right;
    padding-top: 90px;
    padding-right: 70px;
    box-sizing: border-box;
    font-family: $fontTitle;
    font-size: 68px;
    font-weight: 900;
    color: hsl(0, 0%, 80%);
    width: 254px;
    height: 254px;
    border-radius: 50%;
    border: 4px solid hsl(0, 0%, 95%);
    transition-duration: 0.4s;
    @include media(mtp) {
        font-size: 58px;
        bottom: 65px;
        right: -94px;
        padding-top: 80px;
        padding-right: 100px;
    }
    @include media(msp) {
        display: flex;
        padding: 0 0 18px;
        justify-content: center;
        align-items: flex-end;
        width: 180px;
        height: 180px;
        right: 50%;
        transform: translateX(50%);
        bottom: unset;
        top: -100px;
        font-size: 36px;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        pointer-events: none;
        border-radius: 50%;
        top: -13px;
        right: -13px;
        bottom: -13px;
        left: -13px;
        border: 2px solid hsl(0, 0%, 95%);
    }
    &.-hidden {
        visibility: hidden;
        position: absolute;
        opacity: 0;
    }
}
.win__sliders {
    @include media(mtp) {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}
.win__slider {
    position: relative;
    height: 21px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 91%);
    margin-bottom: 75px;
    @include media(msp) {
        height: 12px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &.-you {
        .win__handle {
            text-indent: -30px;
            @include media(msp) {
                text-indent: -25px;
            }
            &::before {
                right: 22px;
                @include media(msp) {
                    top: 5px;
                    right: 8px;
                }
            }
        }
    }
    &.-rival {
        .win__handle {
            text-indent: -120px;
            @include media(mtp) {
                text-indent: 0;
                width: 80px;
                transform: translateX(-80px);
            }
            @include media(msp) {
                transform: translateX(-35px);
            }
            &::before {
                right: -36px;
                @include media(mtp) {
                    top: 21px;
                    right: -20px;
                }
            }
            &::after {
                @include media(mtp) {
                    transform: translateX(57px);
                }
                @include media(msp) {
                    transform: translateX(29px);
                }
            }
        }
    }
}
.win__handle {
    position: absolute;
    bottom: -13px;
    left: 0;
    transform: translateX(-26px);
    line-height: 1;
    user-select: none;
    transition-duration: 0.3s;
    @include media(msp) {
        bottom: -9px;
        transform: translateX(-10px);
        font-size: 12px;
    }
    &::after {
        content: '';
        display: block;
        margin-top: 12px;
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        background-color: hsl(0, 0%, 100%);
        border: 4px solid $colorStyle;
        border-radius: 50%;
        box-shadow: 0 5px 20px -5px hsla(0, 0%, 0%, 0.4);
        transition-duration: 0.3s;
        @include media(msp) {
            width: 30px;
            height: 30px;
        }
    }
    &::before {
        content: url(../images/win-line.png);
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        @include media(msp) {
            content: none;
        }
    }
}
.win__line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    border-radius: 25px;
    background-color: $colorStyle;
    transition-duration: 0.3s;
}