-
    var things = [
    {
      title: 'Развитие бизнеса остановилось, он достиг предела',
      body: 'Мой доход достиг планки и не растет уже долгое время. Я уверен, что можно больше, делаю разные действия, запускаю рекламу, увеличиваю штат квалифицированных специалистов, внедряю технологии и другие инструменты, но все это не дает нужного результата.'
    },
    {
    title: 'Неэффективные вложение в рекламу, маленькая отдача и конкуренты продают больше',
    body: 'Не могу отследить какой эффективный канал продаж, не понятно сколько стоит мне 1 сделка. Чувствую, что могу снизить расходы на рекламу, но боюсь потерять клиентов. Знаю, что можно все увеличить в разы, но КАК?'
    },
    {
      title: 'Хаос в бизнесе, перегруз рутиной',
      body: 'Постоянный цейтнот, мой бизнес перегружен оперативкой, которая не дает результата. Нет времени заниматься стратегией и целями компании. Нет понимания в какую сторону идти, передвигаюсь на ощупь по инерции.'
    },
    {
    title: 'Слишком много лишних расходов',
    body: 'Задачи выполняется плохо, долго или не выполняется вовсе. Я Владелец и сам начинаю делать и переделывать за своих сотрудников, при этом оплачивая их рабочее время и впустую растрачиваю свое. Нужно научиться эффективно делегировать.'
    },
    {
      title: 'Маркетинг и весь дизайн устарел, конкуренты далеко впереди, клиенты не доверяют моей компании',
      body: 'Сайт устарел, коммерческие предложения не работают, как продавать в социальных сетях вообще не понятно. Рынок меняется, а я нахожусь на прежнем уровне.'
    },
    {
    title: 'Надоело, что все сотрудники перекладывают с себя ответственность. Хочу все автоматизировать.',
    body: 'Есть несколько отделов и каждый отдел считает себя более важным, чем остальные. Нет четких разграничений обязанностей, сотрудники перекладывают ответственность друг на друга. С этим приходится постоянно бороться, а в итоге теряю деньги я.'
    },
    {
      title: 'Отдел продаж слабый, сотрудники постоянно уходят, а новых и с опытом найти не могут',
      body: 'Какую бы мотивацию не придумывал ничего не работает, сотрудники хотят зарабатывать больше, а работать меньше! Они приходят на работу ради оклада, не отрабатывают возражения и постоянно недовольны чем-то. Но я не могу их уволить, ведь найти новых сложнее, чем терпеть старых!'
    },
    {
      title: 'Я устал…',
      body: 'Уже который месяц ловлю себя на мысли, что мой бизнес не приносит мне удовольствия. Утром неохота вылезать из постели, знаю, что ожидает меня на работе. Снова рутина и постоянная нехватка времени ни на что. Занимаюсь только тем, что латаю дыры в своем корабле. Хочу уехать на отдых, но как, все завязано на мне, и я чувствую, что больше не могу...'
    }
    ];
    var itsFor = [
    {
      text: 'Действующих предпринимателей с доходом от 100 000 – 15 млн. руб.'
    },
    {
      text: 'Собственников высоко конкурентных ниш'
    },
    {
      text: 'Бизнесменов, кто решил заявить о себе, стать на рынке №1 или №2'
    },
    {
      text: 'Руководителей, у кого застой в бизнесе уже несколько месяцев/лет и не может выйти на новый уровень дохода'
    },
    {
      text: 'Директоров, кто не хочет заниматься операционной, а хочет автоматизировать все бизнес-процессы'
    },
    {
      text: 'Бизнесменов, кто хочет масштабировать бизнес, через выбранную стратегию'
    },
    {
      text: 'Тех, кто хочет иметь профессиональный отдел продаж, который продает много и дорого'
    },
    {
      text: 'Предпринимателей, кому не доверяют клиенты и кто часто слышит от них «Мы подумаем», «Мы выбрали другую компанию» и т.д.'
    },
    {
      text: ' Тех, кто читает этот пункт и думает, что у него и так все хорошо'
    }
    ];
    var values = [
    {
      time: '1-ая неделя',
      title: '<span class="mixWord" data-right-word="Определение">Орлдеенеепи</span> текущей <span class="mixWord" data-right-word="точки">иктчо</span>',
      body: 'Показатели, отчетность, цифры. Непонимание текущей ситуаций в цифрах не приведет компанию к улучшению'
    },
    {
      time: '2-ая неделя',
      title: '<span class="mixWord" data-right-word="Стратегия">еСяатгрти</span> и тактическое <span class="mixWord" data-right-word="планирование">аенпиирвлнао</span>',
      body: 'Стратегия на 3 месяца, 1 год. Видение, миссия, цели. Если ехать не зная куда, можно приехать 1. Либо не туда. 2. Либо в никуда '
    },
    {
      time: '3-ья неделя',
      title: 'Профессиональный <span class="mixWord" data-right-word="отдел">тдело</span> <span class="mixWord" data-right-word="продаж">парожд</span>',
      body: 'Мотивация, набор персонала, отстройка процессов взаимоотношения. Только с сильной командой можно занять лидирующие позиции на рынке'
    },
    {
      time: '4-ая неделя',
      title: '<span class="mixWord" data-right-word="Управление">алеУпнвери</span> персоналом',
      body: 'Постановка задач, увольнение слабых звеньев, планирование. Верная тактика 80% успешного результата'
    },
    {
      time: '5-ая неделя',
      title: 'Современная <span class="mixWord" data-right-word="упаковка">окваупка</span> компании',
      body: 'Ядро компании, позиционирование,  разбор точек контакта сайт, КП, маркетинг-кит, техническая упаковка. 90% компаний в России упакованы плохо'
    },
    {
      time: '6-ая неделя',
      title: '<span class="mixWord" data-right-word="Трафик">Ткиафр</span> каналы <span class="mixWord" data-right-word="продаж">аожрпд</span>',
      body: 'Увеличение конверсии x2, контекстная реклама, seo, социальные сети, вирусный и партизанский маркетинг,  управление репутацией. Как правило клиент даже не догадывается, что можно продавать в 5 раз больше'
    },
    {
      time: '7-ая неделя',
      title: '<span class="mixWord" data-right-word="Лидерство">своЛритде</span>, имидж <span class="mixWord" data-right-word="руководителя">еолвуодятикр</span>',
      body: 'Деловое, эмоциональное, ситуативное лидерство, правильное делегирование. Сильные бойцы сражаются подчиняются сильному командиру'
    },
    {
      time: '8-ая неделя',
      title: '<span class="mixWord" data-right-word="Ораторское">трОекораос</span> искусство для <span class="mixWord" data-right-word="бизнесмена">змбеаиннес</span>',
      body: 'Публичные выступления, презентации, переговоры, влияние. Красноречие — это искусство управлять умами'
    }
    ];
    var profits = [
    {
      image: './files/profits/masshabirovanie.jpg',
      title: 'Масштабирование',
      body: 'Ваш бизнес выйдет на новый уровень'
    },
    {
      image: './files/profits/brain.jpg',
      title: 'Новое мышление',
      body: 'Уже через месяц станете мыслить иначе'
    },
    {
      image: './files/profits/engine.jpg',
      title: 'Правильное делегирование',
      body: 'Избавитесь от рутины, высвободите до 95% свободного времени'
    },
    {
      image: './files/profits/coins.jpg',
      title: 'Продажи',
      body: 'Начнете зарабатывать в 2, 3 в 10 раз больше даже вне сезона'
    },
    {
      image: './files/profits/calc.jpg',
      title: 'Ценообразование',
      body: 'Научитесь продавать дороже от 40 до 127%'
    },
    {
      image: './files/profits/chess.jpg',
      title: 'Окружение',
      body: 'Погрузитесь в крутое бизнес-окружение'
    },
    {
      image: './files/profits/hurrican.jpg',
      title: 'Нескончаемый трафик',
      body: 'Лавину клиентов, что вынудит вас масштабировать бизнес'
    },
    {
      image: './files/profits/pig.jpg',
      title: 'Снижение издержек',
      body: 'снизите в 2-8 раз стоимость привлеченного клиента'
    },
    {
      image: './files/profits/cup.jpg',
      title: 'Достижение целей',
      body: 'Начнете достигать не только цели компании, но и собственные'
    },
    {
      image: './files/profits/phone.jpg',
      title: 'Саморазвивающийся отдел продаж',
      body: 'Специалисты по продажам научатся продавать лучше собственника бизнеса'
    },
    {
      image: './files/profits/crown.jpg',
      title: 'Серьезная упаковка',
      body: 'Вы будете заметно отличаться от всех ваших конкурентов'
    },
    {
      image: './files/profits/battery.jpg',
      title: 'Энергия',
      body: 'Второе дыхание для вашего бизнеса'
    }
    ];
    var results = [
    {
      title: '27',
      body: 'Построено 27 отдела продаж (+2 в месяц) в 7 городах России'
    },
    {
      title: '20 млн',
      body: '20 000 000 просмотров набрал ролик за 10 дней.'
    },
    {
      title: '273',
      body: 'Проведено аудитов в 273 бизнесах ( +1 аудит в день)'
    },
    {
      title: '800 000',
      body: 'Снизили издержек на рекламу на 800 000 руб.'
    },
    {
      title: '4 млрд',
      body: 'Увеличили общую прибыль на 4 млрд. рублей (+1 385 596 в день)'
    },
    {
      title: '3 км',
      body: 'Придумали 3 км одностраничников'
    },
    {
      title: '120',
      body: 'Создали 120 корпоративных сайтов'
    },
    {
      title: '32 000',
      body: 'Разместили 32 000 постов'
    },
    {
      title: '7 275 000',
      body: 'Написали 7 275 000 продающих символов'
    },
    {
      title: '48 547',
      body: 'Привлеки 48 547 заявки (9 заявок в час)'
    },
    {
      title: '11 млн',
      body: 'Сделали 10 967 400 исходящих звонков (33 081 звонка в сутки)'
    },
    {
      title: '1 268 943',
      body: 'Отправили 1 268 943 коммерческих предложений (4 404 в сутки)'
    },
    {
      title: '648',
      body: 'Наняли 648 специалистов по продажам'
    },
    {
      title: '432',
      body: 'Уволили 432 непродуктивных сотрудников'
    }
    ];
    var breakingLeft = [
    {
      image: './files/breaking/malahov.jpg',
      title: 'Малахов',
      body: 'Послушали-забыли, ничего не внедрили'
    },
    {
    image: './files/breaking/vanga.jpg',
    title: 'Ванга',
    body: 'Много воды, предсказывают прибыль за счет общей информации'
    },
    {
    image: './files/breaking/esotheric.jpg',
    title: 'Эзотерический подход',
    body: 'Обучение на тренинге: визуализация 90%;  практика  5%; и 5% где-то потерялись'
    },
    {
    image: './files/breaking/mad-doctor.jpg',
    title: 'Сельский фельдшер',
    body: 'Один тренер якобы эксперт во всех областях и лечит бизнес во всех сферах сразу'
    },
    {
    image: './files/breaking/shaman.jpg',
    title: 'Шаманство',
    body: 'Развитие бизнеса с помощью духов, бубнов и хождения по углям и стеклу'
    },
    {
    image: './files/breaking/myths.jpg',
    title: 'Мифы и легенды',
    body: 'за 3 шага увеличить бизнес в 20 раз за 3 дня'
    }
    ];
    var breakingRight = [
    {
    image: './files/breaking/solder.jpg',
    title: 'Внедрение',
    body: 'Еженедельная проверка: послушали, записали, внедрили и выполнили д.з.'
    },
    {
    image: './files/breaking/numbers.jpg',
    title: 'Цифры',
    body: 'Гарантируем увеличение прибыли, за счет работы с реальными показателями на каждом этапе. С помощью четких пошаговых инструментов'
    },
    {
    image: './files/breaking/box.jpg',
    title: 'Действия',
    body: '10% визуализация целей, 20% стратегии, 70% практики, которая приведет к результату'
    },
    {
    image: './files/breaking/spezialist.jpg',
    title: 'Специалист',
    body: 'Каждый тренер, эксперт и практик в своей области, с сотнями кейсов'
    },
    {
    image: './files/breaking/modern-engine.jpg',
    title: 'Генерация',
    body: 'Масштабирование бизнеса через анализ ключевых показателей и увеличение потока клиентов за счет реальных, контролируемых действий'
    },
    {
    image: './files/breaking/cases.jpg',
    title: 'Истории-кейсы',
    body: 'Количество шагов будет ровно столько сколько понадобиться для увеличения дохода именно в вашей компании. Иногда достаточно и одного шага'
    }
    ];
    var win = [
      'Есть ли у вас сайт?',
      'Хватает ли вам заявок с сайта?',
      'Приносит SEO заявки?',
      'У Вас есть продающие Коммерческие Предложение?',
      'Есть ли отдел продаж?',
      'Ведете ли отчетность?',
      'Используете ли CRM-систему?',
      'Используете ли аналитику Ройстат?',
      'Используете ли аналитику Ройстат?',
      'Выполняют ли планы продавцы?',
      'В вашей компании работают профессионалы?',
      'Продаете с SMM?',
      'Хотите иметь больше свободного времени?',
      'К вам возвращаются больше 70% клиентов за повторной покупкой?',
      'Хватает ли у Вас энергии для бизнеса?'
    ];
    var clients = [
    {
      image: './files/clients/avangard.jpg',
      text: 'Оборот увеличился в 5 раз за 6 месяцев. Маржинальность продукта выросла с 70% до 95%   '
    },
    {
      image: './files/clients/faibexpro.jpg',
      text: 'Оборот увеличился в 3 раза на 5 месяц'
    },
    {
      image: './files/clients/home-money.jpg',
      text: '+20 000 заявок в день. Оборот увеличили в 8 раз'
    },
    {
      image: './files/clients/gerda.jpg',
      text: 'За 2 месяца увеличен поток клиентов в 6 раз. Оборот компании в 5 раз'
    },
    {
      image: './files/clients/cesar.jpg',
      text: '+5000% к выручке с 1 вирусного ролика'
    },
    {
      image: './files/clients/chudo-teplica.jpg',
      text: 'Продано 11 франшиз за 3 месяца'
    },
    {
      image: './files/clients/video-eye.jpg',
      text: 'За 1 год сделали бренд №1 по видеонаблюдению'
    },
    {
      image: './files/clients/city-stroy.jpg',
      text: 'Продали более 170 квартир + 320 000 000 руб'
    },
    {
      image: './files/clients/stroj-expert.jpg',
      text: 'Оборот увеличили в 3 раза на 2-ой месяц'
    },
    {
      image: './files/clients/one.jpg',
      text: 'Увеличили поток на 10 312 заявок в день'
    },
    {
      image: './files/clients/rostelecom.jpg',
      text: 'Запуск вирусных видео'
    },
    {
      image: './files/clients/sberbank.jpg',
      text: 'Запуск вирусных видео'
    }
    ];
    var faq = [
    {
      question: 'Весь бизнес на мне! Я не могу отвлечься на 2 месяца, иначе все развалится',
      answer: 'Тем более вам надо пройти тренинг LOM. Если вам приходится управлять бизнесом в ручном режиме значит что-то идет не так. Если ничего не делать, со временем вы просто выгорите и прогорите. Бизнес успешен, когда ваша основная задача состоит в грамотном контроле и создании общей стратегии развития. И мы вас выведем на этот уровень.'
    },
    {
      question: 'Ну... мне бы только клиентов больше. Или только отдел продаж лучше. Но вот этого всего не надо',
      answer: '<p>Ваш бизнес – это целостный механизм, где каждая деталь работает на единый результат. И нельзя вот так просто взять, заменить одну деталь и ждать «рекордных» результатов.</p>'+
      '<p>Вот вы увеличите поток клиентов, но не сможете всех их качественно обслужить – в перспективе уровень продаж неизбежно упадет. Или нарастите поток клиентов, понеся несоразмерные затраты на рекламу, по итогу уйдя в минус. Вы также можете вложиться в улучшение своего отдела продаж, но без должного управления он будет бесполезен.</p>'+
      '<p>Приходите на тренинг LOM, и поймете, как все сделать по уму. Вы найдете способы комплексно улучшить свою бизнес-модель, или изменить её под свои конкретные цели и задачи.</p>'
    },
    {
      question: 'У меня сейчас не сезон, какой смысл проходить? Вот начнется сезон, тогда и поучусь',
      answer: 'Нет лучшего момента. Как раз сейчас, пока не сезон, вы можете без ущерба для своего бизнеса и личной жизни пройти интенсивное  обучение в проекте LОМ и вывести свой бизнес в новый сезон во всеоружии. Хотите нормальный результат?'
    },
    {
      question: 'Значит, мне придется тратить целый день в неделю на обучение? Это утомительно',
      answer: 'А не утомительно месяцами беспросветно тратить свое время на решение огромного массива ежедневных задач? Не утомительно, когда весь бизнес держится непосредственно на вас? Каждый час обучения в проекте LОМ в перспективе освободит вам 70 часов в неделю. Ваша бизнес-модель будет отлажена и работать как часы.'
    },
    {
      question: 'Мой бизнес уникален. Что вы можете мне предложить?',
      answer: 'Мы согласны, все бизнесы уникалены по своему и нет полностью идентичных ниш, однако бизнес-процессы схожи по своей сути. Это как автомобили, они все разные: есть спортивные, грузовые, семейные и так далее. Но принцип их работы одинаков: у них есть колеса, двигатель, система охлаждения, управление и многое-многое другое. Назовите нам нишу и представьте исходные данные – мы проанализируем и скажем, во сколько раз сможем увеличить показатели.'
    }
    ];