+b.copyright
    +e.row
        +e.company © Все права защищены, 2017
        +e.developer Создание сайтов «
            a(href="#") Студия
            | »
    +e.row
        +e.links
            +e.link(href="#") Положение о защите персональных данных