+b.NAV.mainMenu
    +e.UL.menu
        +e.item.-active: +e.link.-active(href="#") Главная
        +e.item: +e.link(href="#") Каталог
        +e.item: +e.link(href="#") Компания
        +e.item: +e.link(href="#") Новости
        +e.item: +e.link(href="#") Отзывы
        +e.item: +e.link(href="#") Акции
        +e.item: +e.link(href="#") Контакты
