extend ../layout/layout.pug

block vars
    - var body_classes = ['front','no-sidebar'];
    - var title = 'Главная'

block content
    +b.titer__.block
        +e.inner.block__inner
            +e.image: img(src="./files/titer/lom-titer.jpg")
            +e.H1.heading.block__heading  Серьезный 8-ми недельный тренинг-практикум
            +e.descr.block__descr Единственный тренинг, абсолютно гарантирующий увеличение вашей прибыли минимум вдвое
            +e.button.button(data-popup href="#order"): span Принять участие
            +e.photo.-marketing
                +e.IMG.photoImage(src="./files/titer/marketing.png")
                +e.P.photoText Маркетинг
            +e.photo.-sales
                +e.IMG.photoImage(src="./files/titer/sales.png")
                +e.P.photoText Отдел продаж
    +b.lomProject__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Проект LOM
            +e.descr.block__descr это новый формат тренинга, нацеленный исключительно на совершенствование трех фундаментальных основ построения стабильно-растущего бизнеса:
            +e.UL.list
                +e.item
                    +e.image: img(src="./files/lom-project/l-letter.jpg")
                    +e.P.text
                        strong Lидерство
                        |  — способность влиять на группы людей, чтобы побудить их работать для достижения собственных целей. Это правильное стратегическое управление, компанией и своим временем
                +e.item
                    +e.image: img(src="./files/lom-project/o-letter.jpg")
                    +e.P.text
                        strong Отдел продаж
                        |  — двигатель любого бизнеса, который ежесекундно генерирует деньги в компанию. Нет продаж — нет бизнеса
                +e.item
                    +e.image: img(src="./files/lom-project/m-letter.jpg")
                    +e.P.text
                        strong Маркетинг
                        |  — целое искусство создавать ценность в глазах вашего потребителя. Если компания может обойтись без маркетинга, то рынок обойдется без компании
    +b.allBad__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading 20% компаний думают, что у них все плохо, а на самом деле плохо у 75% компаний
            +e.descr.block__descr Только 5% компаний применяют все 3 фундаментальные основы бизнеса, и Вы их прекрасно знаете — они являются лидерами вашей отрасли
            +e.buttons.buttons
                +e.button.button(data-popup href="#number-one"): span Стать №1 в регионе
                +e.button.button(data-popup href="#number-two"): span Стать №2 в регионе
    +b.masterClass__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Приходите на Мастер-класс, если вас посещала хотя бы одна из этих мыслей
            +e.UL.list
                for i in things
                    +e.item
                        +e.itemInner
                            +e.title=i.title
                            +e.body=i.body
            +e.button.button(data-popup href="#solve-problem"): span Решить проблему
    +b.itsFor__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Проект-LOM только для:
            +e.row
                - var i = 0;
                +e.col
                    +e.UL.list
                        - for (i=0;i<(itsFor.length / 2);i++)
                            +e.item=itsFor[i].text
                +e.col
                    +e.UL.list
                        - for (i=Math.round(itsFor.length / 2);i<(itsFor.length);i++)
                            +e.item=itsFor[i].text
    +b.values__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Против LOMа нет приема или  8 недель ценностей
            +e.main
                +e.tip Наведи для перевода
                +e.UL.list
                    for i in values
                        +e.item
                            +e.itemInner
                                +e.time=i.time
                                +e.title !{i.title}
                                +e.body=i.body
                    +e.item.-withButton
                        +e.itemInner
                            +e.button.button(data-popup href="#price"): span Узнать стоимость
                            +e.body Прежде чем мы допустим вас к участию в проекте LOM мы должны быть уверены, что она принесет вам исключительно пользу. Для этого необходим предварительный аудит, который определит сильные и слабые стороны бизнеса и покажет все подводные камни, которые могут возникнуть в процессе внедрения инструментов. Даже если вам не подойдет наш проект – у вас будут ценные рекомендации, чтобы самостоятельно повысить эффективность бизнеса уже сейчас
    +b.profit__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Что вам даст прохождение тренинга?
            +e.UL.list
                for i in profits
                    +e.item
                        +e.image: img(src=i.image)
                        +e.title=i.title
                        +e.body=i.body
    +b.speakers__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Спикеры
            +e.main
                +e.persons
                    +e.image: img(src="./files/speakers/speakers.png")
                    +e.name.-marsel Марсель Ахмедов
                    +e.name.-timur Тимур Вавилов
                +e.results
                    +b.results
                        +e.H3.heading С 2016 года общие результаты наших клиентов
                        +e.descr Расчет происходит из показателей всего 27 отделов продаж, 8 сотрудников в отделе, 250 рабочих дней в году
                        +e.UL.list
                            for i in results
                                +e.item
                                    +e.title=i.title
                                    +e.body=i.body
    +b.factors__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Мы убеждены, что на стремительный рост бизнеса и увеличение прибыли влияют 3 фактора
            +e.UL.list
                +e.item Lидерство руководителя
                +e.item Отдел продаж, сильная команда.
                +e.item Маркетинг – упаковка решает все
        +e.IMG.image(src="./files/lom-factors.png")
    +b.breaking__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading ВзLОМ реальности
            +e.descr.block__descr Чем мы отличаемся от всех других тренингов
            +e.TABLE.list
                thead
                    tr
                        +e.TH.item.-colName Обычный тренинг
                        +e.TH.item.-colName Проект - LOM
                tbody
                    - for (var i=0;i<breakingLeft.length;i++)
                        +e.TR.row
                            +e.TD.item
                                +e.image: img(src=breakingLeft[i].image)
                                +e.title=breakingLeft[i].title
                                +e.body=breakingLeft[i].body
                            +e.TD.item
                                +e.image: img(src=breakingRight[i].image)
                                +e.title=breakingRight[i].title
                                +e.body=breakingRight[i].body
            +e.button.button(data-popup href="#increase"): span Увеличить ...
    +b.win__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading ОбLOMай конкурента!
            +e.main
                +e.mainInner
                    +e.UL.list
                        - for(i=0;i<15;i++)
                            +e.item(class= i === 0 ? '-active' : '')=win[i]
                    +e.result
                        +e.resultText Пройдите наш тренинг-практикум, чтобы всегда быть впереди конкурента!
                        +e.button.button(data-popup href="#order"): span Принять участие
                    +e.buttons.buttons
                        +e.BUTTON.button.-yes.button: span Да
                        +e.BUTTON.button.-no.button: span Нет
                    +e.counter
                        +b.counter
                            +e.SPAN.current 0
                            +e.SPAN.slash /
                            +e.SPAN.total 0
            +e.sliders
                +e.slider.-you
                    +e.line
                    +e.SPAN.handle Вы
                +e.slider.-rival
                    +e.line
                    +e.SPAN.handle Ваш конкурент
    +b.coaches__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Тренеры-практики для достижения серьезных результатов
            +e.UL.list
                +e.item
                    +e.IMG.image(src="./files/coaches/timur.png")
                    +e.name Тимур Вавилов
                    +e.body
                        ul
                            li — Автор книги "Отдел продаж по-Самурайски"
                            li — Бизнес-тренер для первых лиц. Участвовал в построении 133 отделах продаж в 32 городов
                            li — Наставник  предпринимателей с доходом от 500 000 рублей в проекте от GOOGLE и Сбербанк "Бизнес-класс". Эксперт-консультант по выстраиванию эффективного отдела продаж
                            li — Автор методики по мгновенному набору персонала.
                +e.item
                    +e.IMG.image(src="./files/coaches/marsel.png")
                    +e.name Тимур Вавилов
                    +e.body
                        ul
                            li — Генеральный маркетолог крупнейшего агентства B2B-creative в Поволжье
                            li — Выстроил маркетинг в более чем 350 компаниях
                            li — Бизнес-тренер по современному стратегическому и комплексному маркетингу. У 85% клиентов увеличил оборот минимум в два раза
                            li — Консультант по партизанскому маркетингу таких компаний как Сбербанк, Ростелеком,Ситилинк и.т.д
    +b.clients__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Взрывные результаты наших клиентов
            +e.UL.list
                for i in clients
                    +e.item
                        +e.image: img(src=i.image)
                        +e.P.text=i.text
    +b.faqBlock__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading FAQ. Топ 5 вопросов, которые мучают наших клиентов.
            +faq(faq)
    +b.final__.block
        +e.inner.block__inner
            +e.H2.heading.block__heading Через 8 недель — ваш бизнес будет законченным произведением исскуства
            +e.button.button(data-popup href="#order"): span Принять участие
            +e.labels
                +e.SPAN.label Сейчас
                +e.SPAN.label Через 8 недель
        +e.footer
            +e.UL.links
                +e.item: +e.link(href="#" target="_blank") Политика конфиденциальности
                +e.item: +e.link(href="#" target="_blank") Договор оферты

block under-footer
    +modal('order')
        +e.H2.title Забронировать место на тренинг
        +form('-order','Зарегистрироваться')
            +formItem('1','name','Иван Иванов','Введите ваше имя',false)
            +formItem('2','tel','+7 (999) 999-99-99','Введите ваш телефон',true)
            +formItem('3','email','email@email.ru','Введите ваш E-mail',false)
    +modal('number-one')
        +e.H2.title Пройдите тренинг и станьте лидером отрасли
        +form('-number-one','Зарегистрироваться')
            +formItem('4','name','Иван Иванов','Введите ваше имя',false)
            +formItem('5','tel','+7 (999) 999-99-99','Введите ваш телефон',true)
            +formItem('6','email','email@email.ru','Введите ваш E-mail',false)
    +modal('number-two')
        +e.H2.title Почему только №2? Пройдите тренинг и станьте лидером отрасли
        +form('-number-two','Зарегистрироваться')
            +formItem('7','name','Иван Иванов','Введите ваше имя',false)
            +formItem('8','tel','+7 (999) 999-99-99','Введите ваш телефон',true)
            +formItem('9','email','email@email.ru','Введите ваш E-mail',false)
    +modal('solve-problem')
        +e.H2.title Прохождение курса решит пробемы вашего бизнеса
        +form('-solve-problem','Зарегистрироваться')
            +formItem('10','name','Иван Иванов','Введите ваше имя',false)
            +formItem('11','tel','+7 (999) 999-99-99','Введите ваш телефон',true)
            +formItem('12','email','email@email.ru','Введите ваш E-mail',false)
    +modal('price')
        +e.H2.title Оставьте свои данные, чтобы узнать цену
        +form('-price','Узнать стоимость')
            +formItem('13','name','Иван Иванов','Введите ваше имя',false)
            +formItem('14','tel','+7 (999) 999-99-99','Введите ваш телефон',true)
            +formItem('15','email','email@email.ru','Введите ваш E-mail',false)
    +modal('increase')
        +e.H2.title Увеличить...
        +b.increase
            +e.UL.list
                +e.item: +e.link(data-popup href="#boobs") а. грудь второй половины
                +e.item: +e.link(data-popup href="#pride") б. гордость
                +e.item: +e.link(data-popup href="#gain") в. прибыль бизнеса
            +e.text Выберите правильный ответ
    +modal('boobs')
        +e.H2.title Не отвлекайтесь от главного, займитесь развитием бизнеса
        +form('-order','Зарегистрироваться')
            +formItem('16','name','Иван Иванов','Введите ваше имя',false)
            +formItem('17','tel','+7 (999) 999-99-99','Введите ваш телефон',true)
            +formItem('18','email','email@email.ru','Введите ваш E-mail',false)
    +modal('pride')
        +e.H2.title Гордость – это успешный бизнес. Займитесь развитием бизнеса
        +form('-order','Зарегистрироваться')
            +formItem('19','name','Иван Иванов','Введите ваше имя',false)
            +formItem('20','tel','+7 (999) 999-99-99','Введите ваш телефон',true)
            +formItem('21','email','email@email.ru','Введите ваш E-mail',false)
    +modal('gain')
        +e.H2.title Вы на пути к переменам. Оставьте контакты
        +form('-order','Зарегистрироваться')
            +formItem('22','name','Иван Иванов','Введите ваше имя',false)
            +formItem('23','tel','+7 (999) 999-99-99','Введите ваш телефон',true)
            +formItem('24','email','email@email.ru','Введите ваш E-mail',false)



























