doctype html

include ../../libs/bemto/bemto
include ../base/mixins
include ../base/content

-
    var body_classes = ['front','no-sidebar'];
    var site = {
        phone: '8 800 707-95-97',
        mail: 'info@gmail.ru',
        name: 'Название сайта',
        slogan: 'Слоган сайта',
        logo: './files/logo.png',
        altLogo: './files/logo.png'
    };
    var css = './css/styles.css';
    var js = './js/all.min.js';

block vars

head
    title !{site.name} | #{title}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(property="og:title" content="LOM")
    meta(property="og:image" content="https:://lom.bz/files/lom-og.jpg")
    meta(property="og:url" content="https:://lom.bz/")
    meta(name="keywords" content="тренинг-практикум, маркетинг, продажи, увеличение прибыли")
    meta(name="description" content="Проект - LOM, серьезный 8-ми недельный курс-практикум. Единственный обучающий курс в России и СНГ, гарантирующий увеличение вашей прибыли минимум вдвое!")

    link(rel="apple-touch-icon" sizes="180x180" href="/files/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/files/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/files/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/files/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href=css)


html(prefix="og: http://ogp.me/ns#")
    body(class=body_classes)
        //include ../base/animated-menu
        .layout-content
            //+b.HEADER.header
            //    +b.upper
            //        +e.inner Плашка над шапкой, одинаковая на каждой странице
            //    if body_classes.indexOf('front') != -1
            //        include header.pug
            //    else
            //        include header--notfront.pug

            .main.page-content
                block content

                if body_classes.indexOf('sidebar') != -1
                    aside.layout-sidebar-first
                        .region.region-sidebar-first
                            .region-inner
                                block sidebar

            //+b.FOOTER.footer
            //    include footer.pug
        block under-footer
        script(type="text/javascript" src=js)
